package pages

import "github.com/gokuls-codes/go-shadcn/templates"


templ HomePage(dark bool) {
    @templates.Base(dark) {
        <div class=" min-h-screen">
            <main class=" container mx-auto p-6">
                Welcome to Shadcn for Templ
            </main>
        </div>
    }
}