package pages

import "github.com/gokuls-codes/go-shadcn/templates"


templ HomePage(dark bool) {
    @templates.Base(dark) {
        <div class=" min-h-screen">
            <main class=" container mx-auto p-6">
                <h1 class=" text-xl font-semibold">Shadcn for Templ</h1>
                <ul>
                    <li>
                        <a href="/button">Button</a>
                    </li>
                </ul>
            </main>
        </div>
    }
}